
<div class="contentContainer">
<div id="headerDiv"><h1>{{page.header}}</h1></div>
	
	<div id="employeeList">
	<ul id="aboutUl">
	{{#each page.employees}}
		<li>{{#if imgPath}}<img height="45" widht="45" id="bioPic" src="{{imgPath}}"/>{{else}}<img height="45" widht="45" id="bioPic" src="img/batman_placeholder.jpg"/>{{/if}}&nbsp;{{name}}&nbsp;|&nbsp;{{position}}<br></li><li>&nbsp;</li>

		{{/each}}
		</ul>
	</div>

	<div id="fullBio">
	{{page.about}}
	</div>
</div>
